body
  font-family: 'Roboto Condensed', 'Helvetica Neue', 'Arial', sans-serif
  color: #626262
  font-size: 16px
  line-height: 1.35

p, span
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

h1
  color: #fff
  font-size: 52px
  line-height: 1.4
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6)
  font-weight: bold

h2
  color: #c43003
  font-size: 36px
  font-weight: bold

h3
  font-weight: bold

.lead
  line-height: 26px

// Year
.year
  display: inline-block
  margin-bottom: -5px
  width: 70px
  height: 33px
  text-indent: -1000em
  background: image-url('year.png') no-repeat 0 0
